@font-face {
  font-family: gta-reg;
  src: url(../../public/fonts/Subset-GTAmerica-Rg.woff2);
  font-display: fallback;
}
@font-face {
  font-family: gta-med;
  src: url(../../public/fonts/Subset-GTAmerica-Md.woff2);
  font-display: fallback;
}
@font-face {
  font-family: gta-bd;
  src: url(../../public/fonts/Subset-GTAmerica-CmBd.woff2);
  font-display: fallback;
}
@font-face {
  font-family: gta-md;
  src: url(../../public/fonts/Subset-GTAmerica-CnMd.woff2);
  font-display: fallback;
}

@font-face {
  font-family: flexa-bd;
  src: url(../../public/fonts/Subset-GTFlexa-CmBd.woff2);
  font-display: fallback;
}

@font-face {
  font-family: flexa-md;
  src: url(../../public/fonts/Subset-GTFlexa-ExtMd.woff2);
  font-display: fallback;
}

@font-face {
  font-family: grotesk;
  src: url(../../public/fonts/Subset-NHGroteskPro-65Md.woff2);
  font-display: fallback;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}